.background {
    background-color: plum;
    position: fixed;
    font-family:'Times New Roman', Times, serif
}
/* 테두리 점선 박스 */
.line_box {
    border: 2px dashed #ff9696;
    position: absolute;
    width: 1000px;
    left: 350px;
}
/* 텍스트를 포함하는 박스 */
.text_box{
    width: 62em;
    height: fit-content;
    margin: 20px auto;
    color: #ff9696;
}
/* 버튼 속성 */
.button_box{
    background-color: #ABD0CE;
    border-radius: 2px;
    padding: 5px;
    color: #ff9696;
}

/* 버튼 hover 효과 */

.button:hover{
    background-color: #ff9696;
    color: #ABD0CE;
}